body {
  margin:0px;
}

.home-background {
  background: grey;
}

.navbar {
  background-color: green;
}



p {
  color: red;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

ul {
  color: red;
  text-align: center;
}

li {
  color: white;
  text-align: center;
}

img {
  width:300px;
  height: 300px;
  margin: auto;
}

.spicy {
  margin: auto;
}
